*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*====variables=====*/
:root {
	--clr-bg: hsl(0, 1%, 47%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-chocolate: hsl(25, 75%, 47%);
	--clr-salmon: hsl(6, 93%, 71%);
	--clr-black-: hsl(0, 0%, 0%);
}
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: ;
}
/*====default=====*/
.wrapper {
	display: flex;
	background-color: darksalmon;
	padding: 3em;
}

p::target {
	background-color: chocolate;
}
a {
	text-decoration: none;
}
/*====container=====*/
.container {
}

/*====work=====*/
img {
	width: 100%;
	height: auto;
}
.work {
	display: grid;
	padding: 40px;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-gap: 20px;
	padding: 20px;
	max-width: 1240px;
	margin: 0 auto;
	background-color: purple;
}
.work__item {
	background-color: var(--clr-white);
}
.work__content {
	padding: 1rem;
}
.work__content h3 {
	font-size: 1.5rem;
}

/*====work lightboxes modal=====*/
.work-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-white);
	transform: scale(0, 0);
	transform-origin: top left;
	transition: transform ease-in-out 500ms;
	z-index: 1000;
}
.work-box:target {
	transform: scale(1, 1);
	transform-origin: top right;
}

.work-box__content {
	background-color: var(--clr-salmon);
	padding: 1rem;
	position: relative;
}
.close {
	position: absolute;
	width: 2rem;
	height: 2rem;
	background-color: blue;
	top: -1rem;
	right: -1rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.close::after {
	content: 'X';
	color: var(--clr-white);
	font-size: 1.25rem;
	font-weight: 500;
}
